.quienes-somos{
    width: 100%;
    background: #ADC3CC;
    justify-content: center;
    align-items: center;
    padding: 40px;

    h1{
        margin-bottom: 30px;
        color: #000;
        text-align: center;
        font-size: 30px;
    }

    p{
        font-size: 16px;
        
        text-align: center;
        line-height: 30px;
    }

}